.extraa {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.register h2 {
  margin-top: 1%;
  margin-bottom: 2%;
  border-bottom: 1px solid grey;
}
.register form {
  display: flex;
  flex-direction: column;
}
.register .btn {
  background-color: #262a33;
  outline: none;
  border: none;
  width: 10%;
  cursor: pointer;
  padding: 1%;
  color: white;
  border-radius: 10px;
  text-align: center;
}
.register input {
  border: none;
  border-bottom: 1px solid rgb(88, 86, 86);
  margin-top: 1%;
  background-color: rgb(201, 192, 192);
  width: 40%;
  padding: 1%;
  border-radius: 10px;
}
.register label {
  display: flex;
}
