{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/createform.css' %}">
    <link rel="stylesheet" href="{% static 'css/notedetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">



    <title>Journal</title>
</head>
<body>
    <div class="main_container">
        {% block content %}
        {% endblock content %}


            
    </div>

    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/create.js' %}"></script>

</body>
</html>