{% extends "core/base.html" %}
{% block content %}
<div class="resetform">
<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Update Password" class="btn">
	
</form>
</div>
<style>
	p{
		margin-bottom: 2%;
	}
	form{
		display: flex;
		flex-direction: column;
	}
	form input{
   border: none;
   border-bottom: 1px solid rgb(88, 86, 86);
   margin-top: 1%;
   background-color: rgb(201, 192, 192);
   width: 40%;
   padding: 1%;
   border-radius: 10px;
}
	
</style>
{% endblock content %}
